.App {
  font-family: sans-serif;
  text-align: center;
}

.başlık {
background-color: orange;
color: rgb(161, 0, 0)  ;
width: 300px;
margin-left: auto;
margin-right: auto;
border-radius: 15px;
}

.name {
  color:black;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.kutu{
border-radius: 5px;
background-color: rgba(236, 236, 236, 0.589);
width: 300px;
margin-left: auto;
text-decoration: none;
margin-right: auto;
}

.detay{
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 204, 255);
  height: 100vw;
}

.başlıkÖzel{
  text-align: center;
}